# build output
dist/
# generated types
.astro/
.link-checker/

# dependencies
node_modules/

# this is rebuilt using when needed by `npm run dev/start/build`
coredata.sqlite
db/coredata.db

# logs
**.log

# macOS-specific files
.DS_Store
