# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# this is rebuilt using when needed by `npm run dev/start/build`
coredata.sqlite
db/coredata.db

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
broken-links.log

# macOS-specific files
.DS_Store
