:root {
    /* color of glyphs in SIL logo */
    --sl-color-accent-high: hsl(205, 65%, 65%);
    /* reduce default line height of headings */
    --sl-line-height-headings: 1.0;
    /* reduce default size of h3 headings to increase contrast with h2 */
    --sl-text-2xl: 1.375rem; /* 22px */
    }

:root[data-theme='light'] {
    /* color of main SIL logo */
    --sl-color-accent: hsl(210.16, 100%, 36.27%);
    }