:root {
    /* color of glyphs in SIL logo */
    --sl-color-accent-high: hsl(205, 65%, 65%);
    /* reduce default line height */
    --sl-line-height: 1.5;
    /* reduce default line height of headings */
    --sl-line-height-headings: 1.0;
    /* reduce default size of h3 headings to increase contrast with h2 */
    --sl-text-h3: 1.625rem; /* 26px */
    }

.sl-markdown-content .sl-heading-wrapper.level-h2 {
    margin-top: 1.4rem !important; 
}

.sl-markdown-content .sl-heading-wrapper.level-h3 {
    margin-top: 1.2rem !important; 
}

.sl-markdown-content .sl-heading-wrapper.level-h4{
    margin-top: 1.2rem !important; 
}

.sl-markdown-content figcaption:not(:where(.not-content *)) {
    font-style: italic !important;
    font-size: var(--sl-text-sm) !important;
    margin-top: 0.5rem !important; 
}

.sl-markdown-content .table-caption:not(:where(.not-content *)) {
    font-style: italic !important;
    font-size: var(--sl-text-sm) !important;
    margin-top: 0.5rem !important; 
}

.sl-markdown-content hr:not(:where(.not-content *)) {
    border-bottom: 1px solid var(--sl-color-gray-5) !important;
}

.sl-markdown-content ul > li:not(:where(.not-content *)) {
    margin-top: 0.15rem !important; 
}

:root[data-theme='light'] {
    /* color of main SIL logo */
    --sl-color-accent: hsl(210.16, 100%, 36.27%);
    /* set color of body text to black */
    --sl-color-text: hsl(255, 0%, 0%);
    }

.external-link-icon {
                    display:inline-flex;
					position:relative;
                    top:3px;
					}

.external-link-icon img{
                    height:1rem;
					margin:0 0 0 2px;
					width:1rem;
}

/* Used by Character and CharacterTable components */
.sl-markdown-content .uni-char-metadata {
    font-size: var(--sl-text-sm) !important;
}

