.lff-family {
    margin-bottom: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--sl-color-gray-5);
    font-size: var(--sl-text-md);
}

.lff-familyinfo {
    display: flex;
    flex-wrap: wrap;
    gap: 0 1rem;
    line-height: 2rem;
}

.lff-name a {
    font-weight: 700;
    font-size: var(--sl-text-lg);
    text-decoration: none;
}

.lff-sample {
    margin-top: auto;
    display: inline;
    font-size: var(--sl-text-3xl);
    line-height: 200%;
}

#lff-sampler {
    margin-top: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.lff-features {
    font-family: monospace;
}
