.families {
    max-height: 50vh;
    padding: 0 1vw 0 0;
    overflow: auto;
    list-style: none;
}

.response {
    overflow: auto;
    max-height: 30vh;
}

.copy {
    float: right;
    background: inherit;
    border: inherit;
    cursor: pointer;
}