---
// Bibliography component: list bibliographic sources related to given tag. If no tag supplied, 
// the list will be empty.
// Parameters:
//		tag: eg, 'encoding', 'script-arab', 'fonts', etc. Use 'all' to display the complete list.
//      header: 

import Source from './Source.astro';

const { tag, header } = Astro.props;

import sdata from '../data/sources.json';

// PreSort is set up to put links to ScriptSource/Wikipedia/Omniglot first.
// TODO: we probably don't need this for bibliographic data.
const sortedSdata = [...sdata].sort((a, b) => (a.PreSort.concat(a.SortName).concat(a.Title)).localeCompare(b.PreSort.concat(b.SortName).concat(b.Title)));

let filteredSdata:Array<typeof sdata[0]> = [];
if (tag == "all") {
  filteredSdata = sortedSdata;
} else if (tag) {
  filteredSdata = sortedSdata.filter(sObj => 
    sObj.Keywords && Array.isArray(sObj.Keywords) && sObj.Keywords.includes(tag)
  );
}

// Only bibliographic sources, ie, not '@online':
let sectionSdata = filteredSdata.filter(sObj =>	sObj.EntryType !== '@online');

---

{ (sectionSdata.length == 0) ? (
		null
	) : (
		<>
			{ (header !== '') ? (
				<h3>{header}</h3>
				) : null
			}
			<ul>
				{sectionSdata.map((sObj) =>
						<li><Source key={sObj.Key} /></li>
					)
				}
			</ul>
		</>
	)
}

