---
// Bibliography component: list bibliographic sources related to given tag. If no tag supplied, 
// the list will be empty.
// Parameters:
//		tag: eg, 'encoding', 'script-arab', 'fonts', etc. Use 'all' to display the complete list.
//      header: 

import Source from './Source.astro';
import { getCollection } from 'astro:content';
const sdata = await getCollection('sources');

const { tag, header } = Astro.props;

let filteredSdata:Array<typeof sdata[0]> = [];
if (tag == "all") {
  filteredSdata = sdata;
} else if (tag) {
  filteredSdata = sdata.filter(sObj => 
    sObj.data.keywords && Array.isArray(sObj.data.keywords) && sObj.data.keywords.includes(tag)
  );
}

// Only bibliographic sources, ie, not '@online':
let sectionSdata = filteredSdata.filter(sObj =>	sObj.data.entrytype !== '@online');

// Presort is set up to put links to ScriptSource/Wikipedia/Omniglot first.
// We don't want it for bibliographic data, we just used the sortname.
const sortedSdata = [...sectionSdata].sort((a, b) => 
	((a.data.sortname ?? '').concat(a.data.title)).localeCompare((b.data.sortname ?? '').concat(b.data.title))
);
---

{ (sortedSdata.length == 0) ? (
		null
	) : (
		<>
			{ (header !== '') ? (
				<h3>{header}</h3>
				) : null
			}
			<ul>
				{sortedSdata.map((sObj) =>
						<li><Source key={sObj.id} /></li>
					)
				}
			</ul>
		</>
	)
}

