---
import testdata from '../data/testdata.json';	
---

{	testdata.map((category) => (
	<div>
		<h3>{category.Category}</h3>
		<ul>
			{category.Items.map((item) => (
				<li>{item.Name}</li>
			))}
		</ul>
	</div>
))
}

<style>
</style>

