.family {
    margin-bottom: inherit;
}

details.family > summary {
    display: grid;
    font-weight: inherit;
    column-gap: 0.2em;
    grid-template-columns: 0.5em minmax(min-content,auto) 5em 7em 12em;
}

details.family > ul {
    list-style: none;
    overflow: scroll;
    max-height: 6em
}

/* .name {
    flex-grow: 1;
}

.source {
    min-width: 5em;
}

.license {
    min-width: 4em;
}

.tech {
    display: inline;
    min-width: 13em
} */

.lozenge {
    background-color: AccentColor;
    margin-inline: 0.2em;
    color: AccentColorText;
    text-transform: uppercase;
}

.weights {
    list-style: none;
    overflow: scroll;
    max-height: 6em;
}

.sample {
    margin-top: auto;
    display: inline;
    object-fit: none;
    grid-column: 2 / span 4;
    grid-row: 2;
}

:root[data-theme="dark"] .sample {
    filter: invert(0.90);
}

.features {
    font-family: monospace;
    font-size: larger;
}