.family {
    margin-bottom: inherit;
}

details.family > summary {
    display: grid;
    font-weight: inherit;
    column-gap: 0.5ch;
    grid-template-columns: 1em minmax(min-content,auto) 9ch 11ch 20ch;
}

.lozenge {
    background-color: AccentColor;
    margin-inline: 0.4ch;
    color: AccentColorText;
    text-transform: uppercase;
}

.sample {
    margin-top: auto;
    display: inline;
    object-fit: none;
    grid-column: 2 / span 4;
    grid-row: 2;
    height: min-content;
}


:root[data-theme="dark"] .sample {
    filter: invert(0.899);
}

.features {
    font-family: monospace;
    font-size: larger;
}