---
import type { Props } from '@astrojs/starlight/props';

import EditLink from 'virtual:starlight/components/EditLink';
import LastUpdated from 'virtual:starlight/components/LastUpdated';
import Pagination from 'virtual:starlight/components/Pagination';
import config from 'virtual:starlight/user-config';
import { Icon } from '@astrojs/starlight/components';
---

<footer class="sl-flex">
	<div class="meta sl-flex">
		<EditLink {...Astro.props} />
		<LastUpdated {...Astro.props} />
        <p>Copyright © 2024-2025 SIL Global and released under the Creative Commons Attribution-ShareAlike 4.0 International license <a href="https://creativecommons.org/licenses/by-sa/4.0/">(CC BY-SA 4.0)</a> unless noted otherwise.</p>
	</div>
	<Pagination {...Astro.props} />

	{
		config.credits && (
			<a class="kudos sl-flex" href="https://starlight.astro.build">
				<Icon name={'starlight'} /> {Astro.locals.t('builtWithStarlight.label')}
			</a>
		)
	}
</footer>

<style>
	a {
        color: var(--sl-color-gray-3);
    }
    footer {
		flex-direction: column;
		gap: 1.5rem;
	}
	.meta {
		gap: 0.75rem 3rem;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 3rem;
		font-size: var(--sl-text-xs);
		color: var(--sl-color-gray-3);
	}
	.meta > :global(p:only-child) {
		margin-inline-start: auto;
	}

	.kudos {
		align-items: center;
		gap: 0.5em;
		margin: 1.5rem auto;
		font-size: var(--sl-text-xs);
		text-decoration: none;
		color: var(--sl-color-gray-3);
	}
	.kudos :global(svg) {
		color: var(--sl-color-orange);
	}
	.kudos:hover {
		color: var(--sl-color-white);
	}
</style>
