---
// PhChartDiph component: generate a chart of diphthong phonemes.
// Parameters: none

---

<p>Symbols shown without links have no data available.</p>

<div>
<table>
	<thead>
		<tr class='ph-noline'>
			<th></th><th></th>
			<th style="text-align: center;" colspan="5">STARTING PLACE</th>
		</tr>
		<tr class='ph-darkline'>
			<th /><th />
			<th style="text-align: center;">Front/Near-front</th>
			<th>&nbsp;&nbsp;</th>
			<th style="text-align: center;">Central</th>
			<th>&nbsp;&nbsp;</th>
			<th style="text-align: center;">Back/Near-back</th>
		</tr>
	</thead>

	<tbody>
		<!-- Toward front -->
		<tr class='ph-noline'>
			<td class='ph-type'>Toward front</td>
			<td class='ph-type ph-voice'>falling</td>
			<td class='ph-sym'>
				<a href='/scrlang/phonemes/diph-fr-cm_unr__fr_cl-unr' title='close-mid front unrounded + close front unrounded diphthong'>ei</a>
				<a href='/scrlang/phonemes/diph-nf-om_unr__fr_cl-unr' title='open-mid near-front unrounded + close front unrounded diphthong'>ɛi</a>
				<a href='/scrlang/phonemes/diph-nf-op_unr__fr_cl-unr' title='open near-front unrounded + close front unrounded diphthong'>ai</a>
			</td>
			<td/>
			<td class='ph-sym' /> <!-- none -->
			<td/>
			<td class='ph-sym'>
				<a href='/scrlang/phonemes/diph-bk-cl-rnd__fr-cl_unr' title='close back rounded + close front unrounded diphthong'>ui</a>
				<a href='/scrlang/phonemes/diph-bk-cm-rnd__fr-cl_unr' title='close-mid back rounded + close front unrounded diphthong'>oi</a>
				<a href='/scrlang/phonemes/diph-bk-om-unr__fr-cl_unr' title='open-mid back unrounded + close front unrounded diphthong'>ʌi</a>
				<a href='/scrlang/phonemes/diph-bk-om-rnd__fr-cl-unr' title='open-mid back rounded + close front unrounded diphthong'>ɔi</a>
			<td/>
		</tr>
		<tr>
			<td class='ph-type'></td>
			<td class='ph-type ph-voice'>rising</td>
			<td/> <!-- none -->
			<td/>
			<td class='ph-sym' /> <!-- none -->
			<td/>
			<td class='ph-sym'>
				<a href='/scrlang/phonemes/diph-bk-cl-rnd__fr-cl-unr__on' title='close back rounded + close front unrounded rising diphthong'>wi</a>
			</td>
		</tr/>
		<!-- Toward near-front -->
		<tr class='ph-noline'>
			<td class='ph-type'>Toward near-front&nbsp;&nbsp;&nbsp;</td>
			<td class='ph-type ph-voice'>falling</td>
			<td class='ph-sym'>
				<!--diph_nf_no_unr__nf_nc_unr -->
				<a href='/scrlang/phonemes/diph-fr-cm_unr__nf-nc-unr' title='close-mid front unrounded + near-close near-front unrounded diphthong'>eɪ</a>
				<span>æɪ</span>  <!-- diph-nf-no-unr__nf-nc-unr -->
				<span>aɪ</span>  <!-- diph-nf-op-unr__nf-nc-unr -->
			</td>
			<td/>
			<td class='ph-sym'>
				<a href='/scrlang/phonemes/diph_ce_md_unr__nf_nc_unr' title='mid central unrounded + near-close near-front unrounded diphthong'>əɪ</a>
			</td>
			<td/>
			<td class='ph-sym'>
				<span>oɪ</span>	 <!-- diph-bk-cm_rnd__nf-nc-unr -->
				<span>ɔɪ</span>  <!-- diph-bk-om_rnd__nf-nc-unr -->
				<span>ɑɪ</span>  <!-- diph-bk-op_unr__nf-nc-unr -->
			<td/>
		</tr>
		<tr>
			<td class='ph-type'></td>
			<td class='ph-type ph-voice'>rising</td>
			<td class='ph-sym'>
				<a href='/scrlang/phonemes/diph-fr-cl_unr__fr-cm-unr__on' title='close front unrounded + close-mid front unrounded rising diphthong'>je</a>
				<a href='/scrlang/phonemes/diph-fr-cl_unr__nf-op-unr__on' title='close front unrounded + open near-front unrounded rising diphthong'>ja</a>
			</td>
			<td/>
			<td class='ph-sym' /> <!-- none -->
			<td/>
			<td class='ph-sym'>
				<a href='/scrlang/phonemes/diph-bk-cl-rnd__fr-cm-unr__on' title='close back rounded + close-mid front unrounded rising diphthong'>we</a>
				<a href='/scrlang/phonemes/diph-bk-cl-rnd__nf-op-unr__on' title='close back rounded + open near-front unrounded rising diphthong'>wa</a>
			</td>
		</tr/>
		<!-- Toward central -->
		<tr class='ph-noline'>
			<td class='ph-type'>Toward central</td>
			<td class='ph-type ph-voice'>falling</td>
			<td class='ph-sym'>
				<span>ɛə</span>  <!-- diph_nf_om_rnd__ce_md_unr -->
				<span>ɪə</span>  <!-- diph_nf_nc_rnd__ce_md_unr -->
			</td>
			<td/>
			<td /> <!-- none ->
			<td class='ph-sym'>
			<td/>
				<a href='/scrlang/phonemes/diph-nb-nc-rnd__ce-md-unr' title='near-close near-back rounded + mid central unrounded diphthong'>ʊə</a>
			</td>
		</tr>
		<!-- Toward near-back -->
		<tr>
			<td class='ph-type'>Toward near-back</td>
			<td class='ph-type ph-voice'>falling</td>
			<td class='ph-sym'>
				<span>aʊ</span>  <!-- diph_nf_op_unr__nb_nc_rnd -->
			</td>
			<td />
			<td class='ph-sym'>
				<span>əʊ</span>  <!-- diph_ce_md_unr__nb_nc_rnd -->
			<td/>
			</td>
			<td /> <!-- none ->
		</tr>
		<!-- Toward back -->
		<tr class='ph-noline'>
			<td class='ph-type'>Toward back</td>
			<td class='ph-type ph-voice'>falling</td>
			<td class='ph-sym'>
				<a href='/scrlang/phonemes/diph-fr-cl-unr__bk-cl-rnd' title='close front unrounded + close back rounded diphthong'>iu</a>
				<a href='/scrlang/phonemes/diph-fr-cm-unr__bk-cl-rnd' title='close-mid front unrounded + close back rounded diphthong'>eu</a>
				<a href='/scrlang/phonemes/diph-nf-om-unr__bk-cl-rnd' title='open-mid near-front unrounded + close back rounded diphthong'>ɛu</a>
				<a href='/scrlang/phonemes/diph-nf-op-unr__bk-cl-rnd' title='open near-front unrounded + close back rounded diphthong'>au</a>
			</td>
			<td/>
			<td class='ph-sym' />
				<a href='/scrlang/phonemes/diph-ce-md-unr__bk-cl-rnd' title='mid central unrounded + close back rounded diphthong'>əu</a>
			<td/>
			<td class='ph-sym'>
				<a href='/scrlang/phonemes/diph-bk-cm-rnd__bk-cl-rnd' title='close-mid back rounded + close back rounded diphthong'>ou</a>
				<a href='/scrlang/phonemes/diph-bk-om-unr__bk-cl-rnd' title='open-mid back unrounded + close back rounded diphthong'>ʌu</a>
				<a href='/scrlang/phonemes/diph-bk-om-rnd__bk-cl-rnd' title='open-mid back rounded + close back rounded diphthong'>ɔu</a>
				<span>au</span> <!-- diph-bk-op-unr__bk-cl-rnd -->
			<td/>
		</tr>
		<tr>
			<td class='ph-type'></td>
			<td class='ph-type ph-voice'>rising</td>
			<td class='ph-sym'>
				<a href='/scrlang/phonemes/diph_fr_cl_unr__bk_cl_rnd__on' title='close front unrounded + close back rounded rising diphthong'>ju</a>
				<a href='/scrlang/phonemes/diph_fr_cl_unr__bk_cm_rnd__on' title='close front unrounded + close-mid back rounded rising diphthong'>jo</a>
				<span>jɑ</span>  <!-- diph_fr_cl_unr__bk_op_unr__on -->
			</td>
			<td/>
			<td class='ph-sym' /> <!-- none -->
			<td/>
			<td class='ph-sym'>
				<a href='/scrlang/phonemes/diph-bk-cl-rnd__bk-cm-rnd__on' title='close back rounded + close-mid back rounded rising diphthong'>wo</a>
				<span>wɑ</span>  <!-- diph-bk-cl-rnd__bk-op-unr__on -->
			</td>
		</tr/>
	</tbody>

</table>
</div>
