---
// PhChartVowel component: generate a chart of vowel phonemes.
// Parameters: none

---

<div>
<table>
	<thead>
		<tr class='ph-noline'>
			<th>HEIGHT</th>
			<th style="text-align: center;" colspan="8">PLACEMENT</th>
		</tr>
		<tr class='ph-noline'>
			<th />
			<th style="text-align: center;" colspan="2">Front/Near-front</th>
			<th>&nbsp;&nbsp;</th>
			<th style="text-align: center;" colspan="2">Central</th>
			<th>&nbsp;&nbsp;</th>
			<th style="text-align: center;" colspan="2">Back/Near-back</th>
		</tr>
		<tr class='ph-darkline ph-small ph-tight'>
			<th />
			<th>-round</th>
			<th>+round</th>
			<th />
			<th>-round</th>
			<th>+round</th>
			<th />
			<th>-round</th>
			<th>+round</th>
		</tr>

	</thead>

	<tbody>
		<!-- Close -->
		<tr>
			<td class='ph-type'>Close</td>
			<td class='ph-sym'><a href='/scrlang/phonemes/vwl-fr-cl-unr' title='close front unrounded vowel'>i</a></td>
			<td class='ph-sym'><a href='/scrlang/phonemes/vwl-fr-cl-rnd' title='close front rounded vowel'>y</a></td>
			<th />
			<td class='ph-sym'><a href='/scrlang/phonemes/vwl-ce-cl-unr' title='close central unrounded vowel'></a></td>
			<td class='ph-sym'><a href='/scrlang/phonemes/vwl-ce-cl-rnd' title='close central rounded vowel'>ɨ</a></td>
			<th />
			<td class='ph-sym'><a href='/scrlang/phonemes/vwl-bk-cl-unr' title='close back unrounded vowel'>ɯ</a></td>
			<td class='ph-sym'><a href='/scrlang/phonemes/vwl-bk-cl-rnd' title='close back rounded vowel'>u</a></td>
		</tr>
		<tr>
			<td class='ph-type'>Near-close</td>
			<td class='ph-sym'><a href='/scrlang/phonemes/vwl-fr-nc-unr' title='near-close near-front unrounded vowel'>ɪ</a></td>
			<td class='ph-sym'><a href='/scrlang/phonemes/vwl-fr-nc-unr' title='near-close near-front rounded vowel'>ʏ</a></td>
			<th />
			<td class='ph-sym'><a href='/scrlang/phonemes/vwl-ce-nc-unr' title='near-close central unrounded vowel'>ɪ̈</a></td>
			<td class='ph-sym'><a href='/scrlang/phonemes/vwl-ce-nc-unr' title='near-close central rounded vowel'>ʊ̈</a></td>
			<th />
			<td class='ph-sym'></td>
			<td class='ph-sym'><a href='/scrlang/phonemes/vwl-bk-nc-unr' title='near-close near-back rounded vowel'>ʊ</a></td>
		</tr>
		<tr>
			<td class='ph-type'>Close-mid</td>
			<td class='ph-sym'><a href='/scrlang/phonemes/vwl-fr-cm-unr' title='close-mid front unrounded vowel'>e</a></td>
			<td class='ph-sym'><a href='/scrlang/phonemes/vwl-fr-cm-unr' title='close-mid front rounded vowel'>ø</a></td>
			<th />
			<td class='ph-sym'><a href='/scrlang/phonemes/vwl-ce-cm-unr' title='close-mid central unrounded vowel'>ɘ</a></td>
			<td class='ph-sym'><a href='/scrlang/phonemes/vwl-ce-cm-unr' title='close-mid central rounded vowel'>ɵ</a></td>
			<th />
			<td class='ph-sym'><a href='/scrlang/phonemes/vwl-bk-cm-rnd' title='close-mid back unrounded vowel'>ɤ</a></td>
			<td class='ph-sym'><a href='/scrlang/phonemes/vwl-bk-cm-unr' title='close-mid back rounded vowel'>o</a></td>
		</tr>
		<tr>
			<td class='ph-type'>Mid</td>
			<td class='ph-sym'><a href='/scrlang/phonemes/vwl-fr-md-unr' title='mid front unrounded vowel'>e̞</a></td>
			<td class='ph-sym'><a href='/scrlang/phonemes/vwl-fr-md-unr' title='mid front rounded vowel'>ø̞</a></td>
			<th />
			<td class='ph-sym'><a href='/scrlang/phonemes/vwl-ce-md-unr' title='mid central unrounded vowel'>ə</a></td>
			<td class='ph-sym'></td>
			<th />
			<td class='ph-sym'><a href='/scrlang/phonemes/vwl-bk-md-rnd' title='mid back unrounded vowel'>ɤ̞</a></td>
			<td class='ph-sym'><a href='/scrlang/phonemes/vwl-bk-md-unr' title='mid back rounded vowel'>o̞</a></td>
		</tr>
		<tr>
			<td class='ph-type'>Open-mid</td>
			<td class='ph-sym'><a href='/scrlang/phonemes/vwl-nf-om-unr' title='open-mid near-front unrounded vowel'>ɛ</a></td>
			<td class='ph-sym'><a href='/scrlang/phonemes/vwl-nf-om-unr' title='open-mid near-front rounded vowel'>œ</a></td>
			<th />
			<td class='ph-sym'><a href='/scrlang/phonemes/vwl-ce-om-unr' title='open-mid central unrounded vowel'>ɜ</a></td>
			<td class='ph-sym'><a href='/scrlang/phonemes/vwl-ce-om-rnd' title='open-mid central rounded vowel'>ɞ</a></td>
			<th />
			<td class='ph-sym'><a href='/scrlang/phonemes/vwl-bk-om-rnd' title='open-mid back unrounded vowel'>ʌ</a></td>
			<td class='ph-sym'><a href='/scrlang/phonemes/vwl-bk-om-unr' title='open-mid back rounded vowel'>ɔ</a></td>
		</tr>
		<tr>
			<td class='ph-type'>Near-open</td>
			<td class='ph-sym'><a href='/scrlang/phonemes/vwl-nf-no-unr' title='near-open near-front unrounded vowel'>æ</a></td>
			<td class='ph-sym'></td>
			<th />
			<td class='ph-sym'><a href='/scrlang/phonemes/vwl-ce-no-unr' title='near-open central unrounded vowel'>ɐ</a></td>
			<td class='ph-sym'></td>
			<th />
			<td class='ph-sym'></td>
			<td class='ph-sym'></td>
		</tr>
		<tr class="ph-darkline">
			<td class='ph-type'>Open</td>
			<td class='ph-sym'><a href='/scrlang/phonemes/vwl-nf-op-unr' title='open near-front unrounded vowel'>a</a></td>
			<td class='ph-sym'><a href='/scrlang/phonemes/vwl-nf-op-unr' title='open near-front rounded vowel'>ɶ</a></td>
			<th />
			<td class='ph-sym'><a href='/scrlang/phonemes/vwl-ce-op-unr' title='open central unrounded vowel'>ä</a></td>
			<td class='ph-sym'></td>
			<th />
			<td class='ph-sym'><a href='/scrlang/phonemes/vwl-bk-op-rnd' title='open back unrounded vowel'>ɑ</a></td>
			<td class='ph-sym'><a href='/scrlang/phonemes/vwl-bk-op-unr' title='open back rounded vowel'>ɒ</a></td>
		</tr>
		<tr>
			<td class='ph-type'>Apical</td>
			<td class='ph-sym' colspan="8"><a href='/scrlang/phonemes/vwl-ap' title='apical vowel'>ɿ</a></td>
		</tr>
		<tr>
			<td class='ph-type'>Null</td>
			<td class='ph-sym' colspan="8"><a href='/scrlang/phonemes/vwl-ap' title='null vowel'>∅</a></td>
		</tr>
	</tbody>

</table>
</div>
