---
// PhonomeChartCons component: generate a chart of consonant phonomes.
// Parameters: none

---

<div>
<table>
	<thead>
		<tr>
			<th>TYPE</th><th/>
			<th colspan="14">PLACE OF ARTICULATION</th>
		</tr>
		<tr class='phdr'>
			<th/><th/>
			<th class='hdrlabel'><img src="/src/content/docs/scrlang/phonemes/images/bilabial.png" alt="Bilabial" height="95px" width="18px" /></th>
			<th class='hdrlabel'><img src="/src/content/docs/scrlang/phonemes/images/labiodental.png" alt="Labiodental" height="95px" width="18px" /></th>
			<th class='hdrlabel'><img src="/src/content/docs/scrlang/phonemes/images/linguolabial.png" alt="Linguolabial" height="95px" width="18px" /></th>
			<th class='hdrlabel'><img src="/src/content/docs/scrlang/phonemes/images/dental.png" alt="Dental" height="95px" width="18px" /></th>
			<th class='hdrlabel'><img src="/src/content/docs/scrlang/phonemes/images/alveolar.png" alt="Alveolar" height="95px" width="18px" /></th>
			<th class='hdrlabel'><img src="/src/content/docs/scrlang/phonemes/images/retroflex.png" alt="Retroflex" height="95px" width="18px" /></th>
			<th class='hdrlabel'><img src="/src/content/docs/scrlang/phonemes/images/postalveolar.png" alt="Post-alveolar" height="95px" width="18px" /></th>
			<th class='hdrlabel'><img src="/src/content/docs/scrlang/phonemes/images/alveopalatal.png" alt="Alveo-palatal" height="95px" width="18px" /></th>
			<th class='hdrlabel'><img src="/src/content/docs/scrlang/phonemes/images/palatal.png" alt="Palatal" height="95px" width="18px" /></th>
			<th class='hdrlabel'><img src="/src/content/docs/scrlang/phonemes/images/velar.png" alt="Velar" height="95px" width="18px" /></th>
			<th class='hdrlabel'><img src="/src/content/docs/scrlang/phonemes/images/uvular.png" alt="Uvular" height="95px" width="18px" /></th>
			<th class='hdrlabel'><img src="/src/content/docs/scrlang/phonemes/images/pharyngeal.png" alt="Pharyngeal" height="95px" width="18px" /></th>
			<th class='hdrlabel'><img src="/src/content/docs/scrlang/phonemes/images/epiglottal.png" alt="Epiglottal" height="95px" width="18px" /></th>
			<th class='hdrlabel'><img src="/src/content/docs/scrlang/phonemes/images/glottal.png" alt="Glottal" height="95px" width="18px" /></th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td class='ptype'>Nasal</td><td/>
			<td class='phon'><a href='/scrlang/phonemes/nas-bil' title='bilabial nasal'>m</a></td>
			<td class='phon'><a href='/scrlang/phonemes/nas-lbd' title='labiodental nasal'>ɱ</a></td>
			<td class='phon'><a href='/scrlang/phonemes/nas-llb' title='linguolabial nasal'>n̼</a></td>
			<td class='phon'><a href='/scrlang/phonemes/nas-den' title='dental nasal'>n̪</a></td>
			<td class='phon'><a href='/scrlang/phonemes/nas-alv' title='alveolar nasal'>n</a></td>
			<td class='phon'><a href='/scrlang/phonemes/nas-ret' title='retrflex nasal'>ɳ</a></td>
			<td class='phon'>&nbsp;</td>
			<td class='phon'>&nbsp;</td>
			<td class='phon'><a href='/scrlang/phonemes/nas-pal' title='palatal nasal'>ɲ</a></td>
			<td class='phon'><a href='/scrlang/phonemes/nas-vel' title='velar nasal'>ŋ</a></td>
			<td class='phon'><a href='/scrlang/phonemes/nas-uvu' title='uvular nasal'>ɴ</a></td>
			<td class='phon'>&nbsp;</td>
			<td class='phon'>&nbsp;</td>
			<td class='phon'>&nbsp;</td>

		</tr>
		<tr>
			<td class='ptype'>Stop</td><td class='ptype'>-voice</td>
			<td class='phon'><a href='/scrlang/phonemes/stp-bil-vl' title='voiceless bilabial plosive'>p</a></td>
			<td class='phon'><a href='/scrlang/phonemes/stp-lbd-vl' title='voiceless labiodental plosive'>t̼</a></td>
			<td class='phon'>&nbsp;</td>
			<td class='phon'><a href='/scrlang/phonemes/stp-den-vl' title='voiceless dental plosive'>t̪</a></td>
			<td class='phon'><a href='/scrlang/phonemes/stp-alv-vl' title='voiceless alveolar plosive'>t</a></td>
			<td class='phon'><a href='/scrlang/phonemes/stp-ret-vl' title='voiceless retrflex plosive'>ʈ</a></td>
			<td class='phon'>&nbsp;</td>
			<td class='phon'>&nbsp;</td>
			<td class='phon'><a href='/scrlang/phonemes/stp-pal-vl' title='voiceless palatal plosive'>c</a></td>
			<td class='phon'><a href='/scrlang/phonemes/stp-vel-vl' title='voiceless velar plosive'>k</a></td>
			<td class='phon'><a href='/scrlang/phonemes/stp-bil-vl' title='voiceless uvular plosive'>q</a></td>
			<td class='phon'>&nbsp;</td>
			<td class='phon'>&nbsp;</td>
			<td class='phon'><a href='/scrlang/phonemes/stp-glo-vl' title='voiceless linguolabial plosive'>ʔ</a></td>

		</tr>
	</tbody>

</table>
</div>
