---
// PhonomeChartCons component: generate a chart of consonant phonomes.
// Parameters: none

---

<div>
<table>
	<thead>
		<tr>
			<th>TYPE</th><th/>
			<th colspan="14">PLACE OF ARTICULATION</th>
		</tr>
		<tr class='phdr'>
			<th/><th/>
			<th class='hdrlabel'><img src="/src/content/docs/scrlang/phonemes/images/bilabial.png" alt="Bilabial" height="95px" width="18px" /></th>
			<th class='hdrlabel'><img src="/src/content/docs/scrlang/phonemes/images/labiodental.png" alt="Labiodental" height="95px" width="18px" /></th>
			<th class='hdrlabel'><img src="/src/content/docs/scrlang/phonemes/images/linguolabial.png" alt="Linguolabial" height="95px" width="18px" /></th>
			<th class='hdrlabel'><img src="/src/content/docs/scrlang/phonemes/images/dental.png" alt="Dental" height="95px" width="18px" /></th>
			<th class='hdrlabel'><img src="/src/content/docs/scrlang/phonemes/images/alveolar.png" alt="Alveolar" height="95px" width="18px" /></th>
			<th class='hdrlabel'><img src="/src/content/docs/scrlang/phonemes/images/retroflex.png" alt="Retroflex" height="95px" width="18px" /></th>
			<th class='hdrlabel'><img src="/src/content/docs/scrlang/phonemes/images/postalveolar.png" alt="Post-alveolar" height="95px" width="18px" /></th>
			<th class='hdrlabel'><img src="/src/content/docs/scrlang/phonemes/images/alveopalatal.png" alt="Alveo-palatal" height="95px" width="18px" /></th>
			<th class='hdrlabel'><img src="/src/content/docs/scrlang/phonemes/images/palatal.png" alt="Palatal" height="95px" width="18px" /></th>
			<th class='hdrlabel'><img src="/src/content/docs/scrlang/phonemes/images/velar.png" alt="Velar" height="95px" width="18px" /></th>
			<th class='hdrlabel'><img src="/src/content/docs/scrlang/phonemes/images/uvular.png" alt="Uvular" height="95px" width="18px" /></th>
			<th class='hdrlabel'><img src="/src/content/docs/scrlang/phonemes/images/pharyngeal.png" alt="Pharyngeal" height="95px" width="18px" /></th>
			<th class='hdrlabel'><img src="/src/content/docs/scrlang/phonemes/images/epiglottal.png" alt="Epiglottal" height="95px" width="18px" /></th>
			<th class='hdrlabel'><img src="/src/content/docs/scrlang/phonemes/images/glottal.png" alt="Glottal" height="95px" width="18px" /></th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td class='ptype'>Fricative</td><td class='ptype'>+voice</td>
			<td class='phon'>m</td>
			<td class='phon'>ɱ</td>
			<td class='phon'>n̼</td>
			<td class='phon'>n̪</td>
			<td class='phon'>n</td>
			<td class='phon'>ɳ</td>
			<td class='phon'>&nbsp;</td>
			<td class='phon'>&nbsp;</td>
			<td class='phon'>ɲ</td>
			<td class='phon'>ŋ</td>
			<td class='phon'>ɴ</td>
			<td class='phon'>&nbsp;</td>
			<td class='phon'>&nbsp;</td>
			<td class='phon'>&nbsp;</td>

		</tr>
	</tbody>

</table>
</div>
