---
const { label4wiki, wikiurl } = Astro.props;
---

			<li><a href="/topics/writingsystems/what-is-a-writing-system" rel="external nofollow" target="_blank">What is a writing system?<span aria-hidden class=external-link-icon"><img src="/svgs/external-link.svg"></span></a>
			<li><a href={wikiurl} rel="external nofollow" target="_blank">Wikipedia{label4wiki}<span aria-hidden class=external-link-icon"><img src="/svgs/external-link.svg"></a></li>
			<li>Resources from Richard Ishida
				<ul>
					<li><a href="https://r12a.github.io/scripts/script-features" rel="external nofollow" target="_blank">Script comparison table<span aria-hidden class=external-link-icon"><img src="/svgs/external-link.svg"></span></a></li>
					<li><a href="https://r12a.github.io/pickers" rel="external nofollow" target="_blank">Unicode character pickers<span aria-hidden class=external-link-icon"><img src="/svgs/external-link.svg"></span></a></li>
					<li><a href="https://r12a.github.io/scripts/#scriptnotes" rel="external nofollow" target="_blank">Orthography descriptions for specific writing systems<span aria-hidden class=external-link-icon"><img src="/svgs/external-link.svg"></span></a></li>
				</ul>
			</li>

<style>
</style>

