---
const { scrpropCode } = Astro.locals.starlightRoute.entry.data;
const { scrpropStatus } = Astro.locals.starlightRoute.entry.data;
---

<div>
	<table>
	<thead>
		<tr>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><strong>Script code</strong></td>
			<td>{scrpropCode}</td>
		</tr>
		<tr>
			<td><strong>Script region</strong></td>
			<td>{Astro.locals.starlightRoute.entry.data.scrpropRegion}</td>
		</tr>
		<tr>
			<td><strong>Script status</strong></td>
			<td>{scrpropStatus}</td>
		</tr>
	</tbody>
	</table>
</div>

<style>
</style>

