---
import ScriptResourceLinks from "./ScriptResourceLinks.astro";

const { scrpropname, scrpropcode, scrpropshortname} = Astro.locals.starlightRoute.entry.data;
const { detailSummary } = Astro.props;
const ssurl = scrpropcode ? `https://scriptsource.org/scr/${scrpropcode}` : "https://scriptsource.org";
const label4ss = scrpropname ? ` page for ${scrpropshortname}` : '';
---

<ul>
	<li><a href={ssurl} rel="external nofollow" target="_blank">ScriptSource{label4ss}<span aria-hidden class="external-link-icon"><img src="/svgs/external-link.svg"></span></a> - all about scripts, languages, and writing systems</li>
</ul>


<style>
</style>
