---
const { label4wiki, wikiurl } = Astro.props;
---

			<li><a href="/topics/writingsystems/what-is-a-writing-system">What is a writing system?</a>
			<li><a href={wikiurl} target="_blank">Wikipedia{label4wiki}</a></li>
			<li>Resources from Richard Ishida
				<ul>
					<li><a href="https://r12a.github.io/scripts/script-features" target="_blank">Script comparison table</a></li>
					<li><a href="https://r12a.github.io/pickers" target="_blank">Unicode character pickers</a></li>
					<li><a href="https://r12a.github.io/scripts/#scriptnotes" target="_blank">Orthography descriptions for specific writing systems</a></li>
				</ul>
			</li>

<style>
</style>

