---
const { scrproptest } = Astro.locals.starlightRoute.entry.data;
---

<div>
	<table>
	<thead>
		<tr>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><strong>Script property</strong></td>
			<td>{scrproptest}</td>
		</tr>
	</tbody>
	</table>
</div>

<style>
</style>
