---
const { scrproptest1 } = Astro.locals.starlightRoute.entry.data;
---

<div>
	<table>
	<thead>
		<tr>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><strong>Script property 1</strong></td>
			<td>{scrproptest1}</td>
		</tr>
		<tr>
			<td><strong>Script region</strong></td>
			<td>How do I read this?</td>
		</tr>
		<tr>
			<td><strong>Script status</strong></td>
			<td>How do I read this?</td>
		</tr>
	</tbody>
	</table>
</div>

<style>
</style>

