---
const { scrpropcode, scrpropregion, scrpropstatus } = Astro.locals.starlightRoute.entry.data;
---

<div>
	<table>
	<thead>
		<tr>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><strong>Script code</strong></td>
			<td>{scrpropcode}</td>
		</tr>
		<tr>
			<td><strong>Script region</strong></td>
			<td>{scrpropregion}</td>
		</tr>
		<tr>
			<td><strong>Script status</strong></td>
			<td>{scrpropstatus}</td>
		</tr>
	</tbody>
	</table>
</div>

<style>
</style>

