---
// SourceLinksList component: list sources related to given tag.
// Parameters:
//		tag: eg, 'encoding', 'script-arab', 'fonts', etc. Use 'all' to display the complete list.
//		entrytype: 'book', 'inbook', 'article', 'inproceedings', 'misc', 'online', 'non-online'
//		header: eg, 'External links'

import SourceLink from './SourceLink.astro';
import { getCollection } from 'astro:content';
const sdata = await getCollection('sources');

const { tag, entrytype, header, showkey } = Astro.props;

let taggedSdata:Array<typeof sdata[0]> = [];
if (tag == "all") {
  taggedSdata = sdata;
} else if (tag) {
  taggedSdata = sdata.filter(sObj => 
    sObj.data.keywords && Array.isArray(sObj.data.keywords) && sObj.data.keywords.includes(tag)
  );
}

let entrytypes:Array<string> = [];
if (entrytype == 'non-online') {
	entrytypes = ['book', 'inbook', 'article', 'inproceedings', 'misc'];
} else if (entrytype && entrytype !== '') {
	entrytypes = entrytype.split(',');
	entrytypes = entrytypes.map(t => t.trim());
}

let typedSdata:Array<typeof sdata[0]> = [];
if (!entrytype || entrytype == '' || entrytype == 'all') {
	typedSdata = taggedSdata;
} else {
	typedSdata = taggedSdata.filter(sObj => entrytypes.includes(sObj.data.entrytype));
}

// Only display items that have links.
let linkSdata:Array<typeof sdata[0]> = typedSdata.filter(sObj =>
	sObj.data.url && sObj.data.url != ''
);

// Presort, where defined, is set up to put links to ScriptSource/Wikipedia/Omniglot first.
// We don't use the sort name at all, because it is not displayed.
const sortedSdata = [...linkSdata].sort((a, b) => 
	((a.data.presort ?? '99').toString().concat(a.data.title))
		.localeCompare((b.data.presort ?? '99' ).toString().concat(b.data.title))
);

---

{ (sortedSdata.length == 0) ? (
		null
	) : (
		<>
			{ (header !== '') ? (
				<h3>{header}</h3>
				) : null
			}
			<ul>
				{sortedSdata.map((sObj) =>
						<li><SourceLink key={sObj.id} showkey={showkey}/></li>
					)
				}
			</ul>
		</>
	)
}

