---
// SourcesList component: list sources related to given tag. If no tag supplied, the list will be empty.
// Parameters:
//		tag: eg, 'encoding', 'script-arab', 'fonts', etc. Use 'all' to display the complete list.
//		header: eg, 'External links'
//		biblio: true = include bibliographic sources (non-online); default = false

import Source from './Source.astro';
import { getCollection } from 'astro:content';
const sdata = await getCollection('sources');

const { tag, header, biblio } = Astro.props;

let filteredSdata:Array<typeof sdata[0]> = [];
if (tag == "all") {
  filteredSdata = sdata;
} else if (tag) {
  filteredSdata = sdata.filter(sObj => 
    sObj.data.keywords && Array.isArray(sObj.data.keywords) && sObj.data.keywords.includes(tag)
  );
}

let sectionSdata = filteredSdata;
if (biblio != true && biblio != "true") {
	sectionSdata = filteredSdata.filter(sObj =>	sObj.data.entrytype === '@online' )
}

// Presort, where defined, is set up to put links to ScriptSource/Wikipedia/Omniglot first.
// We don't use the sort name at all, because it is not displayed, and if it is needed it will be included
// in the title.
const sortedSdata = [...sectionSdata].sort((a, b) => 
	((a.data.presort ?? '99').toString().concat(a.data.title))
		.localeCompare((b.data.presort ?? '99' ).toString().concat(b.data.title))
);

---

{ (sortedSdata.length == 0) ? (
		null
	) : (
		<>
			{ (header !== '') ? (
				<h3>{header}</h3>
				) : null
			}
			<ul>
				{sortedSdata.map((sObj) =>
						<li><Source key={sObj.id} /></li>
					)
				}
			</ul>
		</>
	)
}

