---
// TaggedSources component: list sources related to given tag. If no tag supplied, the list will be empty.
// Parameters:
//		tag: eg, 'encoding', 'script-arab', 'fonts', etc. Use 'all' to display the complete list.
//		section: 'external', 'bibliography'

import Source from './Source.astro';

const { tag } = Astro.props;

const { section } = Astro.props;

let header = "";
if (section == "external") {
	header = "External links";
} else if (section == "bibliography") {
	header = "Bibliography";
} else {
	header = "";
}

import sdata from '../data/sources.json';

// PreSort is set up to put links to ScriptSource/Wikipedia/Omniglot first.
const sortedSdata = [...sdata].sort((a, b) => (a.PreSort.concat(a.SortName).concat(a.Title)).localeCompare(b.PreSort.concat(b.SortName).concat(b.Title)));

let filteredSdata:Array<typeof sdata[0]> = [];
if (tag == "all") {
  filteredSdata = sortedSdata;
} else if (tag) {
  filteredSdata = sortedSdata.filter(sObj => 
    sObj.Keywords && Array.isArray(sObj.Keywords) && sObj.Keywords.includes(tag)
  );
}

let sectionSdata:Array<typeof sdata[0]> = [];
if (section == 'external') {
	sectionSdata = filteredSdata.filter(sObj =>
		sObj.EntryType === '@online'
	)
} else if (section == 'bibliography') {
	sectionSdata = filteredSdata.filter(sObj =>
		sObj.EntryType !== '@online'
	)
}

---

{ (sectionSdata.length == 0) ? (
		null
	) : (
		<h3>{header}</h3>
		<ul>
			{sectionSdata.map((sObj) =>
					<li><Source key={sObj.Key} /></li>
				)
			}
		</ul>
	)
}
