---
// TagsInUse component: show a list of tags that are used by articles.
// Parameter:
//   filter: indicates which tags to list; 'topic', 'script', 'lang', 'char'

import { getCollection } from 'astro:content';
import { array } from 'astro:schema';
const articlelibonly = await getCollection('articlelibdocs');
const topicsonly = await getCollection('topicsdocs');
const articles = [...articlelibonly, ...topicsonly]; 

// Set up a filter to use to create the list.
let filterExpr
switch (Astro.props?.filter) {
  case undefined: 
    filterExpr = (_: string) => true;
    break
  case "topic":
    filterExpr = (tag: string) => !tag.includes('-'); 
    break;
  default:
    const prefix = Astro.props.filter + '-'
    filterExpr = (tag: string) => tag.startsWith(prefix)
};

// Apply the filter to the list of existing articles.
const tagsSorted = [...new Set(articles.flatMap(
  article => article.data.tags?.filter(filterExpr)
))].sort();
---

<ul>
  {tagsSorted.map(tag => (
    <li>{tag}</li>
  ))}
</ul>

<style>
  ul {
    list-style-type: none;
    padding-left: 0;
  }
</style>
