---
import { getCollection } from 'astro:content';
const articles = await getCollection('articlelibdocs');
const { filter } = Astro.props;

let uniqueTags  = new Set();

articles.forEach(article => {
  if (article.data.tags && Array.isArray(article.data.tags)) {
    article.data.tags.forEach(tag => {
      if (!filter) {
        uniqueTags.add(tag);
      } else if (filter && tag.startsWith(filter + "-")) {
        uniqueTags.add(tag);
      } else if (filter == 'topic' && !tag.includes('-')) {
        uniqueTags.add(tag);
      } 
    });
  }
});

const tagsSorted = Array.from(uniqueTags).sort();
---

<ul>
  {tagsSorted.map(tag => (
    <li>{tag}</li>
  ))}
</ul>

<style>
  ul {
    list-style-type: none;
    padding-left: 0;
  }
</style>
