---
import wsdata from '../data/script_ws.json';	
---

{	wsdata.map((script) => (
	<div>
		<h3>{script.Script}</h3>
		<ul>
			{script.WrSys.map((item) => (
				<li>{item.WsCode}</li>
			))}
		</ul>
	</div>
))
}

<style>
</style>

