---
import wsdata from '../data/script_ws.json';

import WsLocaleLink from './WsLocaleLink.astro';
import WsVarList from './WsVarList.astro';

const { script, wsMax = 10000 } = Astro.props;

const scriptObj = wsdata.find(s => s.ScriptCode === script);
const wsCount = scriptObj ? scriptObj.WrSys.length : 0;
const scriptTagLC = script.toLowerCase();
---

{wsCount == 0 && (<p>There are no known languages that use this script.<p>)}

{scriptObj && wsCount > 0 && (
	<div>
		<table>
		<thead>
			<tr>
				<th>Language</th>
				<th>Writing System<br/>Code</th>
				<th>Status</th>
				<th>SLDR/CLDR<br>locale</th>
				<th>Regional<br/>variants</th>
			</tr>
		</thead>
		<tbody>
		
			<tr><td>See complete list</td></tr>
			
		</tbody>
		</table>
	</div>
)}

<style>
</style>

