---
import wsdata from '../data/script_ws.json';

const { thisscript } = Astro.props;
const scriptObj = wsdata.find(s => s.Script === thisscript);
---

{scriptObj && (
	<div>
		<table>
		<thead>
			<tr>
				<th>Language</th>
				<th>Writing System<br/>Code</th>
				<th>Status</th>
				<th>SLDR/CLDR<br>locale</th>
			</tr>
		</thead>
		<tbody>
		{scriptObj.WrSys.map((wsObj) => (
			<tr>
				<td>{wsObj.LangName}</td>
				<td>{wsObj.WsCode}</td>
				<td>{wsObj.Status}</td>
				<td>{wsObj.Locale}</td>
			</tr>
		))}
		</tbody>
		</table>
	</div>
)}

<style>
</style>

