---
import wsdata from '../data/script_ws.json';

const { script, ws } = Astro.props;
const scriptObj = wsdata.find(s => s.Script === script);
const wsCount = scriptObj ? scriptObj.WrSys.length : 0;

---

			<td>variant list for {script} (wsCount)</td>

<style>
</style>

